.page-header__wrapper {
	background-color: #ffffff;
	padding-bottom: 20px;
}

.page-header__phone {
	@include font-params(16px, 19px);
	display: block;
	margin: 20px auto;
	width: 40%;
}

.page-header__button {
	display: block;
	margin: 20px auto;
	width: 170px;
	height: 40px;
}